---
layout: default
---
{% assign posts = site.posts %}
{% if posts.size > 0 %}
<ul class="catalog">
  {% for post in posts %}
  <li class="catalog__entry">
    <div class="catalog__meta">
      {% if post.code %}<span class="tag">{{ post.code }}</span>{% endif %}
      <span class="catalog__date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
    <h2 class="catalog__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    {% if post.excerpt %}<p class="catalog__excerpt">{{ post.excerpt | strip_html | truncate: 140 }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="catalog__empty">Nothing catalogued yet.</p>
{% endif %}
